[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/DirectXTex"]
	path = libs/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "libs/imguizmo"]
	path = libs/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "libs/imgui-filebrowser"]
	path = libs/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "libs/imGuIZMO.quat"]
	path = libs/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat
